.schools {
  gap: 4px;
  justify-content: space-evenly;
}

.card {
  width: 230px;
  margin: 8px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.10);
  z-index: 999;
  cursor: pointer;
}